@font-face {
  font-family: FT88;
  src: url(FT88-Regular.woff);
}

* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

/* adjusting fonts */

body {
	 font-family: ‘FT88’, Arial, "Helvetica Neue", Helvetica, sans-serif;

	color: black;

	Font-family: 'FT88' ;

	background-color: white;
}

.darkmode {
	 font-family: ‘FT88’, Arial, "Helvetica Neue", Helvetica, sans-serif;


	color: ghostwhite;
	Font-family: 'FT88' ;

	background-color: black;
}



p, li {
	font-size:  22px;
	line-height: 30px;
}

/* adjusting spacing */

#left-column {
	padding: 20px;
}

h1, p {
	margin-bottom:  20px;
}

ul, ol {
	margin-left: 20px;
}

img {
	max-width: 100%;
	height:  auto;
}

a, a:visited {
  transition: all 500ms ease;
  color: lightpink;
}

a:hover {
  color: red;  

}

#button {
  border: none;
  color: pink;
  background-color: ghostwhite;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 
  font-family: FT88;
  font-size: 30px;
  
  cursor: pointer;
 position: absolute;
 bottom: 0;
 right:0;
}


/* uncomment the code below to set the grid */

/*#grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

body {
	overflow: hidden;
}

.scroll {
	padding:  20px;
	overflow: scroll;
	height: 100vh;
}

#left-column {
}

#right-column {
	background: #333;
}*/